<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Page</title>
   <link rel="stylesheet" href="/css/home.css">
</head>

<body>
   <div class="background"></div>
   <header>
      <div class="language-selector">
         <div class="logo"></div>
         <!-- <img src="logo.png" alt="Logo ICYTEC" class="logo"> -->
         <p class="selected-language"> Español - Internacional (es)</p>
      </div>
      <div class="user-info">
         <h3 class="username">Usuario</h3>
         <div class="logo"></div>
         <!-- <img src="profile-pic.jpg" alt="Foto de perfil" class="profile-pic"> -->
      </div>
   </header>

   <main>
      <div class="header-title">
         <h1 class="title">Lorem ipsum dolor sit amet consectetur.</h1>
         <h4 class="subtitle">Pagina Principal</h4>
      </div>

      <h2 class="welcome-message">¡Hola, Usuario!</h2>

      <div class="main-content">
         <nav class="navigation">
            <h3 class="nav-title">Navegación</h3>
            <ul>
               <li><a href="#">Página Principal</a></li>
               <li><a href="#">Páginas del sitio</a></li>
               <li><a href="#">Mis cursos</a></li>
            </ul>
         </nav>

         <section class="courses">
            <h3 class="course-title">Mis cursos</h3>
            <ul class="course-list">
               <li>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing..</span>
                  <br>Profesor: Prof anonimo
               </li>
               <li>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
                  <br>Profesor: Prof anonimo
               </li>
               <li>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
                  <br>Profesor: Prof anonimo
               </li>
               <li>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                  <br>Profesor: Prof anonimo
               </li>
               <li>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
               </li>
            </ul>
            <button class="view-all-button">Todos los cursos</button>
         </section>
      </div>
   </main>
</body>

</html>